body{
  background-color: #white
}

#Spacer{
  width: 1200px;
  height: 1000px;
  margin: auto;
  background-color: #edefef;
}

#head{
  font-size: 25px;
  font-family: cursive;
  text-align: left;
  background-color: #d8d8d8;
  display: inline;
}

#mainpolicies{
  font-size: 75px;
  font-family: inherit;
  text-align: center;
}

#cardpic{
    height: 300px;
    width: 300px;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
  }

#card{
  font-size: 30px;
  font-family: inherit;
  display: inline-block;
  margin-top: 10px;
  vertical-align: middle;
}

#cardtype{
  font-size: 20
  font-family:cursive;
  display: inline-block;
  vertical-align: middle;
}

#delivery{
  text-align: center;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: inherit;
}

#fordelivery{
  font-size: 25px;
  text-align: left;
  font-family: inherit;
}

#deliverypic{
  height: 300px;
  width: 350px;
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}

#returnpolicies{
font-size: 50px;
text-align: left;
margin-left: 50px;
margin-bottom: 20px;
font-family: inherit;
margin-top: 30px;
}

#return{
  font-size: 25px;
  text-align: left;
  margin-left: 10px;
  font-family: inherit;
}

#tabs{
text-align: center;
margin-top: 90px;
}

#buttontext {
    color: black;
    text-decoration: none;
}

#aboutusbutton {
  padding: 10px;
  border-radius: 0px;
  background-color: white;
}

button {
  color: black;
}

#ourteam{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

#aboutus{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

#products{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

#policies{
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

#contact_us{
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}
